<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreMedTalk Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="content-wrapper blog-page">
        <section class="articles">
            <h2 class="article__heading">Blog Posts</h2>
            <div class="article-grid" id="article-grid">
                <% data.slice(0, 9).forEach(post => { %>
                    <a href="/post/<%= post._id %>" class="article-card">
                        <img src="<%= post.imageUrl ? post.imageUrl : '/img/main.jpg' %>" alt="<%= post.title %>" class="article-thumbnail">
                        <div class="article-info">
                            <h3><%= post.title %></h3>
                            <p><%= post.body.substring(0, 100) %>...</p>
                            <div class="article-details">
                                <span class="article-view-count">Views: <%= post.viewCount %></span>
                            </div>
                        </div>
                    </a>
                <% }) %>  
            </div>
            <% if (data.length > 9) { %>
                <button id="load-more" class="btn">Load More</button>
            <% } %>
        </section>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const loadMoreButton = document.getElementById('load-more');
            let currentItems = 9;
            const articles = <%- JSON.stringify(data) %>;
            const articleGrid = document.getElementById('article-grid');

            if (loadMoreButton) {
                loadMoreButton.addEventListener('click', () => {
                    const nextItems = articles.slice(currentItems, currentItems + 9);

                    nextItems.forEach(post => {
                        const articleCard = document.createElement('a');
                        articleCard.href = `/post/${post._id}`;
                        articleCard.className = 'article-card';

                        const articleThumbnail = document.createElement('img');
                        articleThumbnail.src = post.imageUrl ? post.imageUrl : '/images/default-placeholder.png';
                        articleThumbnail.alt = post.title;
                        articleThumbnail.className = 'article-thumbnail';

                        const articleInfo = document.createElement('div');
                        articleInfo.className = 'article-info';

                        const articleTitle = document.createElement('h3');
                        articleTitle.textContent = post.title;

                        const articleExcerpt = document.createElement('p');
                        articleExcerpt.textContent = `${post.body.substring(0, 100)}...`;

                        const articleDetails = document.createElement('div');
                        articleDetails.className = 'article-details';

                        const articleViewCount = document.createElement('span');
                        articleViewCount.className = 'article-view-count';
                        articleViewCount.textContent = `Views: ${post.viewCount}`;

                        articleDetails.appendChild(articleViewCount);

                        articleInfo.appendChild(articleTitle);
                        articleInfo.appendChild(articleExcerpt);
                        articleInfo.appendChild(articleDetails);

                        articleCard.appendChild(articleThumbnail);
                        articleCard.appendChild(articleInfo);

                        articleGrid.appendChild(articleCard);
                    });

                    currentItems += 9;
                    if (currentItems >= articles.length) {
                        loadMoreButton.style.display = 'none';
                    }
                });
            }
        });
    </script>
</body>
</html>